<div mat-dialog-title>
  <div fxLayout="column" class="w-100" fxLayoutAlign="start center" style="padding-bottom: 10px">
    <div fxLayout="row" class="w-100" fxLayoutAlign="start center" style="padding-bottom: 5px">
      <mat-icon class="mat-icon-md color-primary">folder_copy</mat-icon>
      <h2 class="color-primary">Agenda Consulta</h2>
    </div>
    <mat-divider class="w-100"></mat-divider>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <mat-dialog-content class="mat-typography">
    <div style="padding: 10px;">
      <div class="w-100" fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex="100" class="w-100">
          <div fxLayout="row wrap" class="w-100" fxLayoutAlign="space-between center" fxLayoutGap="1">
            <mat-form-field fxFlex="34.5" fxFlex.sm="34.5" fxFlex.xs="100" color="primary">
              <mat-label class="color-primary">Data da Consulta</mat-label>
              <input matInput formControlName="data_consulta" [matDatepicker]="picker">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div fxFlex="64.5" fxFlex.sm="64.5" fxFlex.xs="100">
              <app-autocomplete-medico class="w-100" label="Médico" [required]="true"
                                       [form]="form" property="medico"></app-autocomplete-medico>
            </div>
          </div>
        </div>

        <div *ngIf="hasMedicoEData" class="w-100" fxFlex="100">
          <div fxLayout="row wrap" class="w-100" fxLayoutAlign="space-between center" fxLayoutGap="1">
            <horarios-medico fxFlex="44.5" fxFlex.xs="100" style="padding-bottom: 16px;"
                             [horariosMedico]="horariosMedico"
                             (horarioSelecionado)="atualizarHorarioSelecionado($event)"></horarios-medico>

            <div fxFlex="54.5" fxFlex.xs="100" fxLayout="row wrap" class="w-100" fxLayoutAlign="center center" fxLayoutGap="1">
              <div fxFlex="100">
                <app-autocomplete-paciente class="w-100" label="Paciente" [form]="form" [required]="true"
                                           property="paciente"></app-autocomplete-paciente>
              </div>

              <mat-form-field class="w-100" fxFlex="100" color="primary">
                <mat-label>Observação</mat-label>
                <textarea matInput formControlName="outras_informacoes" rows="6"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <pre>{{horarioSelecionado | json}}</pre>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="start center" class="w-100">
    <button mat-raised-button type="submit" color="primary">Confirmar</button>
    <a mat-raised-button color="warn" (click)="onClose()">Cancelar</a>
  </mat-dialog-actions>
</form>
