<div mat-dialog-title>
  <div fxLayout="column" class="w-100" fxLayoutAlign="start center" style="padding-bottom: 10px">
    <div fxLayout="row" class="w-100" fxLayoutAlign="start center" style="padding-bottom: 5px">
      <mat-icon class="mat-icon-md color-primary">personal_injury</mat-icon>
      <h2 class="color-primary">Paciente</h2>
    </div>
    <mat-divider class="w-100"></mat-divider>
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <div fxLayout="column" class="w-100" fxLayoutAlign="center center" *ngIf="!dataPagination && loading">
    <mat-spinner diameter="50" color="primary"></mat-spinner>
  </div>

  <mat-nav-list>
    <ng-container *ngFor="let item of dataPagination">
      <mat-list-item (click)="onSelectItem(item)">
        {{item.codigo + ' - ' + item.nome}}
      </mat-list-item>
    </ng-container>

    <mat-list-item *ngIf="!dataPagination?.length && !loading">
      Não há dados para exibir
    </mat-list-item>
  </mat-nav-list>

  <mat-paginator class="w-100" [hidePageSize]="true"
                 [showFirstLastButtons]="true"
                 [pageSizeOptions]="[5]" aria-label="Select page of dataPagination">
  </mat-paginator>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center" class="w-100">
  <a mat-raised-button color="warn" (click)="onClose()">Fechar</a>
</mat-dialog-actions>
