/* For use in src/lib/core/theming/_palette.scss */
$primary-palatte: (
  50 : #e7ebe7,
  100 : #c2cdc3,
  200 : #9aac9c,
  300 : #728a74,
  400 : #537156,
  500 : #355838,
  600 : #305032,
  700 : #28472b,
  800 : #223d24,
  900 : #162d17,
  A100 : #8FB892,
  A200 : #96d39a,
  A400 : #90d295,
  A700 : #93e89b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$accent-palette: (
  50 : #ffffff,
  100 : #ffffff,
  200 : #fffaeb,
  300 : #ffe8a3,
  400 : #ffe185,
  500 : #ffd966,
  600 : #ffd147,
  700 : #ffca29,
  800 : #ffc20a,
  900 : #ebb000,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffe699,
  A700 : #ffdf80,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


$warn-palette: (
  50 : #ffffff,
  100 : #e8eff1,
  200 : #c4d8dc,
  300 : #97bac2,
  400 : #84adb6,
  500 : #71a0ab,
  600 : #5e939f,
  700 : #53818c,
  800 : #476f79,
  900 : #3c5e66,
  A100 : #ffffff,
  A200 : #c6e7ef,
  A400 : #84becb,
  A700 : #7caeb9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

