<app-sidenav (onToggleSideNav)="onToggleSideNav($event)" [userRoot]="isRoot" (onSelectMenuItem)="showPage($event)"></app-sidenav>
<app-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth" *ngIf="pegeActive === 1"></app-body>
<app-usuario [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth" *ngIf="pegeActive === 2 && !!isRoot"></app-usuario>
<app-paciente [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth" *ngIf="pegeActive === 3"></app-paciente>
<app-medico [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth" *ngIf="pegeActive === 4"></app-medico>
<app-consulta [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth" *ngIf="pegeActive === 5"></app-consulta>
